@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Poppins:wght@400;700&display=swap");

* {
  --green-ryb: #63a300ff;
  --cultured: #f0eff0ff;
  --silver-chalice: #b2b2adff;
  --rifle-green: #3d4132ff;
  --black: #070903ff;
}

body {
  display: flex;
  flex-direction: row;
  color: var(--rifle-green);
  font-family: "Poppins", sans-serif;
  background-color: var(--silver-chalice);
}
section {
  width: 50vw;
}
main {
  width: 50vw;
  height: 100vh;
  background-image: url(../assets/waterfall.jpeg);
  background-size: cover;
}

img {
  height: 100%;
  border: 5px solid var(--green-ryb);
}

.dark-text {
  color: var(--black);
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  main,
  header {
    width: 100vw;
  }

  main {
    height: 50vh;
  }
}

.hide {
  display: none;
}